@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;600;700&display=swap');

body {
  margin: 0;
  background-color:  #e5e5e5;
  font-family: 'Hahmlet', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
